/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.word-up-icon-popup {
    position: absolute;
    z-index: 1000000;
    display: inline-flex;
}

.word-up-icon-popup_image {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    background-color: white;
    width: 19px;
    border-radius: 19px;
    padding: 2px;
    margin: 2px;
    box-shadow: #333 0 0 12px -3px;
    cursor: pointer;
}

.word-up-icon-popup_text {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    top: 3px;
    background-color: white;
    border-radius: 12px;
    box-shadow: #333 0 0 12px -3px;
    padding: 5px 7px;
    line-height: 12px;
}

.word-up-popup {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: #333 0 0 30px;
    padding: 0px;
    position: absolute;
    z-index: 1000000;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 340px;
}

#icon-popup_check {
    background-color: #641C93;
}

#icon-popup_knew {
    background-color: #32bdd2;
}

.word-up-popup__header {
    margin: 10px 10px 1px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Poppins;
    padding: 10px 5px 0px;
    color: black;
    /* margin-block-start: 1.33em;
    margin-block-end: 1.33em; */
}

.word-up-popup__close-icon {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
}

.word-up-popup__voice {
    /* cursor: pointer;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    display: inline;
    width: 20px;
    position: absolute;
    padding: 0px 5px 0px;
    z-index: 1000001; */

    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    /* width: 20px; */
    opacity: 0.3;
}

    .word-up-popup__voice:hover {
        opacity: 1;
    }

.word-up-popup__rank {
    display: block;
    margin-left: 25px !important;
    margin-top: 8px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt !important;
    color: #a8a8a8 !important;
}


.glide__slides {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.glide__slide {
    height: auto;
    list-style-type: none;
}

    .glide__slide:before {
        display: none;
    }

.word-up-popup {
    line-height: 18px;
}

#spinner {
    max-width: 30px;
    top: 50px;
    left: 115px;
    position: relative;
}

.word-up-popup p {
    display: block;
    font-family: 'Poppins', Tahoma,sans-serif;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}



.word-up-popup__close-icon:before,
.word-up-popup__close-icon:after {
    background-color: lightgrey;
    content: '';
    display: inline-flex;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.word-up-popup__close-icon:before {
    transform: translateY(50%) rotate(45deg);
}

.word-up-popup__close-icon:after {
    transform: translateY(50%) rotate(-45deg);
}

.word-up-glide {
    margin-bottom: 0px;
    max-width: 300px;
}

.word-up-sense__type {
    color: #32BDD2;
    font-size: 12px;
    margin-top: 0 !important;
}

.word-up-sense__desc {
    color: black;
    font-size: 13px;
    line-height: 18px !important;
    font-family: 'Poppins' sans-serif Tahoma;
}

.word-up-sense__example {
    color: #a8a8a8;
    font-size: 12px;
    line-height: 18px !important;
}

.word-up-popup__btn-menu {
    display: flex;
    justify-content: center;
}

li.word-up-sense,
.word-up-empty {
    background: #EFF2F8;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 5px 0px 10px;
    line-height: 18px !important;
}

    li.word-up-sense > div {
        text-align: center;
    }

        li.word-up-sense > div > img {
            max-width: 280px;
            max-height: 200px;
            border-radius: 5px;
        }

.word-up-empty {
    height: 150px;
    margin-left: 20px;
    width: 280px;
}

.glide__track {
    min-width: 340px;
    padding-left: 10px;
}

.word-up-btn {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    background-color: transparent !important;
    border-radius: 25px !important;
    border: none !important;
    color: white !important;
    font-family: 'Poppins' sans-serif;
    font-size: 12px !important;
    margin: 20px 5px !important;
    padding: 10px !important;
    min-width: auto !important;
    min-height: auto !important;
    max-width: auto !important;
    max-height: auto !important;
    width: 110px !important;
    height: 17px !important;
    box-shadow: #333 0 0 9px -3px;
    text-shadow: #333 0 0 9px -3px;
}

    .word-up-btn:hover,
    .word-up-btn:focus,
    .word-up-btn:active {
        transform: none !important;
        border-color: #f5f5f5 !important;
        color: white !important;
        border: none !important;
        animation: none !important;
        color: unset !important;
    }

.word-up-btn--knew,
.word-up-btn--knew:hover,
.word-up-btn--knew:focus,
.word-up-btn--knew:active {
    background-color: #32BDD2 !important;
    color: white !important;
}

.word-up-btn--learn,
.word-up-btn--learn:hover,
.word-up-btn--learn:focus,
.word-up-btn--learn:active {
    background-color: #AE24F6 !important;
    color: white !important;
}
